<h1>Tambah Mahasiswa</h1>
<div class="container">

    <form action="/mahasiswa/ubah" method="post">
        <div class="mb-3">
            <label for="nim" class="form-label">NIM</label>
            <input type="disabled" class="form-control" name="nim" id="nim" value="<%= mhs.nim %>">

        </div>
        <input type="hidden" name="old_nim" value="<%= mhs.nim  %>">
        <div class="mb-3">
            <label for="nama" class="form-label">Nama</label>
            <input type="text" class="form-control" name="name" id="name" value="<%= mhs.name %>">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <!-- <form action="/mahasiswa" method="POST">
        <label for="nim">NIM:</label><br>
        <input type="text" id="nim" name="nim" value=""><br>
        <label for="name">Nama Mahasiswa:</label><br>
        <input type="text" id="name" name="name" value=""><br><br>
        <input type="submit" value="Submit">
    </form> -->
</div>